rect {
  stroke: #fff;
}

.color0 rect {
  /* default color for rects */
  /* material design light blue 50 900 */
  fill: #01579B;
}

.color0:hover rect {
  /* material design light blue 50 800 */
  fill: #0277BD;
}

.color1 rect {
  /* material design light blue 50 700 */
  fill: #0288D1;
}

.color1:hover rect {
  /* material design light blue 50 800 */
  fill: #0277BD;
}

.color2 rect {
  /* material design light blue 50 700 */
  fill: #0288D1;
}

.color2:hover rect {
  /* material design light blue 50 800 */
  fill: #0277BD;
}


/* From
 * <https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css>
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
