rect {
  stroke: #fff;
  fill: #01579B;
}


rect:hover {
  fill: #0277BD;
}


#wrapper {
  text-align: center;
}

#yourdiv {
  background-color: red; /* for visualization purposes */
  display: inline-block;
}
